body {
    font-family: "montserrat" !important;
}

.contact-info .contact-icon {
    width: 24px;
    margin-right: 10px;
}

.contact-label{
    font-weight: bold;
    font-size: 16px;
    margin-top: -10px;
    color: #130F40;
    padding-left: 15px;
}
.contact-label1{
    font-weight: bold;
    margin-right: 5px;
    font-size: 20px;
    margin-top: -40px;
    color: #130F40;
    padding-left: 10px;
}
.contact-label2{
    font-weight: bold;
    margin-right: 5px;
    font-size: 20px;
    margin-top: -20px;
    color: #130F40;
    padding-left: 10px;
}

.mb-4{
    font-weight:bold;
    font-size:45px;
    color: #130F40;
}
.para{
    color: #696969;
    margin-bottom: 40px;
}
.contact_text{
    padding-left: 42px;
}
.icon1{
    font-size: 25px;
    color: #FF630E;
    margin-bottom: 12px;

}
.icon2{
    font-size: 25px;
    color: #FF630E;
    margin-bottom: 12px;
    
   

}
.contact-label{
    font-size: 20px;
   
}
.cntnr-nl{
    padding: 30px 50px !important;
}
.contact_compress{
    margin-right: 20px;
}