footer{
    overflow-x: hidden !important;
}
.bg_col{
    background-color: #0e0a38;
}
.flex_media{
    display:flex;
    gap: 20px;
}
.flex_media img{
    cursor: pointer;
}
.tablinks1.active{
    background-color: #0e0a38;
    color: white;
    border-radius: 40px;
    border: none;
    padding: 5px 20px;
    margin: 20px 10px;
}
.tab_menu{
    margin-bottom: 30px;
}
.tablinks1{
    background-color: white;
    border: none;
    color: black;
    border-radius: 40px;
    margin: 20px 20px;
}
.clickbtn{
    background-color: white;
    padding: 15px 0px;
    border-radius: 30px;
     margin: 0% 29%;  
}
.under_img{
    color: white;
}
.under_img p{
    padding-right: 5rem;
    text-align: justify;
}
.follow_sec .f_join{
    padding-bottom: 8px;
}
.follow_sec .f_join, .f_stay-up{
color: white;
}
.follow_sec .f_stay-up{
    padding-right: 3rem;
    text-align: justify;
}
.third_sec .f_hear, .f_stay-up{
color: white;
}
.hortizontal_line{
    color:#DDDDDD;
}
footer input[type="email"]{
    background-color: #0e0a38;
    color: #ffffff;
    border-radius: 40px;
    /* padding: 10px 20px; */
    outline: none;
    border:none;
    box-sizing: border-box;
    /* border: 1px solid white; */
}
.footer_input-aj{
border:1px solid white;
border-radius: 40px;
padding: 10px 4px ;
/* display: flex;
    justify-content: flex-end; */
}
.btn_inside{
    background-color: #E7005E;
    border-radius: 40px;
    color: white;
    padding: 5px 15px;
    border: none;

    float: right;
    margin-right: 3px;
    position: relative;
    bottom: 3px;
}
.f_resources{
    color:white;
    padding-left: 15px;
    cursor: pointer;
}
.f_about-us{
    line-height: 2.5;
}
.f_spacing{
    padding: 50px 40px 50px 40px;
}
.f_spacing1{
    padding: 50px 30px 50px 30px;
}
.f_spacing2{
    padding: 50px 30px 30px 30px;
}
.f_logo, .f_logo1{
    margin-bottom:25px;
}
.f_join{
margin-bottom: 20px;
}
.f_hear{
    margin-bottom: 30px;  
    text-align: center;
}
.f_cpy_rights{
    text-align: center;
    color: #ffffff;
    font-size: 14px;
}
.f_heights{
color: white; 
padding-left: 1rem;   
padding-right: 4.5rem;
}
.f_heights1{
    color: white; 
    padding-left: 0.4rem;   
    padding-right: 5rem;
    padding-top: 0.6rem;  
}

.f_build{
    color: #ffffff;
    font-size: medium;
    font-weight: 600;
    padding-right: 4rem;
    padding-left: 1rem;
    cursor: pointer;
}
.f_cursor-prop{
    cursor: pointer;
}
.f_buzy{
    display: flex;
}
.f_cal{
    color: white;
    font-size: 14px;
    padding-left: 5.5rem;
    margin-bottom: 20px;
}
.f_cal1{
    color: white;
    font-size: 14px;
    padding-left: 5.5rem;
}
.f_container{
    display: flex;
    gap: 80px;
    margin-top: -5px;
}
.f_userinfo{
    display: flex;
}
.f_msgus{
    padding-left: 0.5rem;
}



@media screen and (min-width: 320px) and (max-width:405px){
    .btn_inside{
        font-size: small;
    }
    footer input[type="email"]{
        max-width: 100px;
        }
}

@media (max-width: 425px){
.btn_inside{
    background-color: #E7005E;
    border-radius: 40px;
    color: white;
    padding: 5px 5px;
    border: none;
    float: right;
}
}
@media (max-width: 480px) {
    footer{
        overflow-x: hidden !important;
    }
    .under_img p{
        margin-right: -5rem !important;
        text-align:justify !important;
        margin-bottom: 30px;
    }
    .f_logo{
        width: fit-content;
    }
    .f_join{
        text-align: start;
    }
    .follow_sec p{
        margin-right: -3rem !important;
    }
    .flex_media{
        margin-bottom: 40px;
    }
    footer input[type="email"]{
    width: 180px;
    padding-left: 20px;
    background-color: transparent;
    
    }
    .btn_inside{
        /* position: relative;
        left: 40px; */
            float: right;
            margin-right: 3px;
            position: relative;
            bottom: 3px;
        
    }
    .f_media-aj{
        display: flex;
    }
    .clickbtn{
        border-radius: 10px;
        padding: 15px;
    }
    .f_prof-aj{
        padding-left: 20px;
    }
    .f_container{
        display: block;
  }
    .f_about-us{
        text-align: start;      
    }
    .f_aj-atp{
        padding-bottom: 30px;
    }
    .f_logo1{
        width: fit-content;
    }
    .f_office-aj{
        width: 80px;
        height: 80px;
    }
    .f_build{
        margin-right: -4rem !important;
    }
    .f_cal1{
        margin-bottom: 3rem;
    }
    footer input[type="email"]{
        text-align: center;
    }
    .f_heights{
        margin-right: -4rem;
    }
    .f_heights1{
        margin-right: -2rem;
    }
    .f_movinglft{
        padding-left: 0.8rem;
        margin-bottom: 2rem;
    }
}

@media screen and (min-width: 481px) and (max-width: 766px){
    footer{
        overflow-x: hidden !important;
    }
    .under_img p{
      margin-right: -5rem !important;
      margin-bottom: 35px;
    } 
    /* .f_logo{
        display: block;
        margin-left: auto;
        margin-right: auto;
    } */
    .flex_media{
        margin-bottom: 50px;
    }
    .clickbtn{
        display: block;
        margin-left: 10%;
        margin-right: 10%;
        padding: 0% !important;
    }
    .f_aj-atp{
        padding-bottom: 40px;
    }
    .f_build{
        margin-right: -4rem !important;
    }
    .f_cal{
        padding-left: 5.5rem;
    }
    .f_office-aj{
        width: 80px;
        height: 60px;
    }
    .f_cal1{
        margin-top: -1rem;
        margin-bottom: 4rem;
    }
    .f_heights{
        margin-right: -4.5rem;
    }
    .follow_sec{
        margin-bottom: 3rem;
    }
    .btn_inside{
        float: right;
        margin-right: 3px;
        position: relative;
        bottom: 3px;
    }
}

@media screen and (min-width: 767px) and (max-width: 1024px){
footer, .container-fluid{
    overflow-x: hidden !important;
}
.f_dw-foll{
width: 50% !important;
}
.f_synch-us{
    width: 50% !important;
}
.f_spacing{
    display: flex !important;
    flex-direction: row;
}
.under_img p{
    margin-right: -3.5rem;
}
.follow_sec .f_stay-up{
    margin-right: -3rem;
}
.third_sec .f_hear{
    margin-top: 3rem;
}
.clickbtn{
    margin-left: auto;
    margin-right: auto;
    padding: 0px;
}
.f_media-aj{
    display: flex;
    margin-left: auto;
    margin-right: auto;  
}
.f_build{
margin-right: -4.5rem;
}
.f_heights{
    margin-right: -4.5rem;
}
.f_heights1{
    margin-right: -5rem;
}
.f_static-aj{
    width: 100% !important;
}
}

@media screen and (min-width: 1025px) and (max-width: 1200px){
    .under_img p{
        margin-right: -2.5rem;
    }
    .btn_inside{
        position: relative;
        bottom:30px;
    }
    footer input[type="email"] {
    width: 100%;
    max-width: 150px;
    }
    .f_container{
        display: block;
    }
    .f_aj-atp{
        padding-left: 3rem;
    }
    .f_office-aj{
    width: 120px;
    height: 60px;
    }
    .f_build{
        margin-right: -2rem;
    }
    .f_cal1{
        padding-top: 5px;
        padding-left: 5.4rem;
    }
    .f_cal{
        padding-left: 5.4rem;
    }
    .f_heights{
        margin-right: -1.5rem;
    }
    .f_heights1{
        margin-right: -5rem;
    }
    .clickbtn{
       margin-left: 23% !important;
       margin-right: 15%;
    }
}

@media screen and (min-width: 1201px) and (max-width: 1400px){
    
    .f_office-aj{
        width: 110px;
        height: 60px;
    }
    .f_heights{
        margin-right: -3rem;
    }
    .clickbtn{
        margin-left: 23% !important;
        margin-right: 15%;
}
}
@media screen and (min-width: 1201px) and (max-width: 1276px){
    .btn_inside{
        position: relative;
        bottom: 5px;
    }

}