{% extends "base.html"%}
<!DOCTYPE html>
<html>
{% block content %}

<head>
    <title>AI Fundamentals dataworks</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'assets/css/coursepage_testing.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
        integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>


<body class="ra_course_details_page">
    <div class="ra_entirepage">
        <div class="ra_Ai_page">
            <div class="ra_home">
                <span class="ra_span1">Home </span><span class="ra_span2"><img
                        src="{% static 'assets/images/course_page_images/right.png' %}" height="8px" width="-500px"
                        style="color:gray"></span><span class="ra_span3"> Courses</span><span class="ra_span4"><img
                        src="{% static 'assets/images/course_page_images/right.png' %}" height="8px" width="-500px"
                        style="color:gray"></span><span class="ra_span5">Foundations</span>
                <img src="{% static 'assets/images/course_page_images/right.png' %}" height="8px" width="-500px"
                    style="color:gray"></span><span class="ra_span6"> AI Fundamentals</span>
            </div>
            <div class="ra_Ai_main">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-7">
                            <div class="ai_main_col1">
                                <div class="ra_Heading_row">
                                    <div class="ra_heading-line"></div>
                                    <div class="ra_Ai_heading">
                                        <h2>{{course_page.title}}</h2>
                                    </div>
                                </div>
                                <div class="ra_Ai_para">
                                    <p>{{course_page.description}}</p>
                                </div>
                                <div class="ra_buttonstar">
                                    <div class="ra_stars">
                                        {% for i in "12345" %}
                                        <span
                                            class="fa fa-star {% if rating and i < rating.rating|floatformat:0 %}checked{% endif %}"></span>
                                        {% endfor %}
                                        <p class="starpara">{{ rating.rating }} ({{ rating.num_ratings }} Ratings)</p>
                                    </div>
                                    <div class="ra_brochure_button">
                                        <a href="#" class="ra_Ai_button" onclick="showModal()">Download Brochure</a>
                                    </div>
                                    <div id="displayModal" class="ra_modal">
                                        <div class="ra_modal-content">
                                            <p>You have successfully downloaded the brochure.</p>
                                            <button onclick="closeModal()" class="ra_modal-close-button">Close</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="ra_Ai_img">
                                <img src="{{course_page.topic_image.url }}" class="ra_image_setting">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container-fluid">
                <div class="row" style="display: flex;">
                    <div class="col-md-7">
                        <div class="ai_main_col1">
                            <div class="ra_Ai_subh">
                                <h2>Course Info</h2>
                            </div>
                            <div class="ra_course_info">
                                <div class="ra_course_para">
                                    <h4><strong>What i will learn?</strong></h4>
                                </div>

                                <div class="ra_courseul">
                                    <ul class="text" id="course-outcomes">
                                        {% for outcome in course_outcomes %}
                                        <li class="{% if forloop.counter > 4 %}hidden{% endif %}">
                                            {{outcome.outcome_text }}
                                        </li>
                                        {% endfor %}
                                    </ul>
                                    <div class="read-more-btn">
                                        <button id="see-more-btn">See More<i class="fa-solid fa-angle-down"
                                                style="margin-left:8px"></i></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="form_setting">
                            <div class="ra_form_head">
                                <p>Upskill for Your Dream Job</p>
                            </div>
                            <div class="ra_form-container">
                                <form action="#" method="post">
                                    {% csrf_token %}
                                    {{ form.as_p }}
                                    <button type="submit" class="ra_enroll-button">Enroll Now</button>
                                </form>
                                {% if success_message %}
                                <div class="success-message">
                                    <p>{{ success_message }}</p>
                                </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container-fluid">
                <div class="course_content_setting">
                    <div class="row">
                        <div class="ra_course_content">
                            <h2>Course Content</h2>
                        </div>
                        <div class="col-md-8">
                            <div>
                                <div class="accordion" id="accordionExample">
                                    {% for content in course_contents %}
                                    <div class="accordion-item {% if forloop.counter > 4 %}hidden{% endif %}">
                                        <h2 class="accordion-header" id="heading{{ forloop.counter }}">
                                            <button class="accordion-button collapsed" type="button"
                                                data-bs-toggle="collapse"
                                                data-bs-target="#collapse{{ forloop.counter }}" aria-expanded="true"
                                                aria-controls="collapse{{ forloop.counter }}">
                                                {{ forloop.counter }}. {{ content.heading }}
                                            </button>
                                        </h2>
                                         <div id="collapse{{ forloop.counter }}" class="accordion-collapse collapse"
                                            aria-labelledby="heading{{ forloop.counter }}"
                                            data-bs-parent="#accordionExample">
                                            <div class="accordion-body">
                                                <ul>
                                                    {% for point in content.key_points.splitlines %}
                                                    <li>{{ point }}</li>
                                                    {% endfor %}
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    {% endfor %}
                                    <div class="ra_button-1">
                                        <button id="accordion-btn">See More<i class="fa-solid fa-angle-down"
                                                style="margin-left:8px"></i></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="ra_img-gif">
                                <img src="{%static 'assets/images/course_page_images/guarantee.png'%}" class="ra_gif1">
                                <div class="ra_gif_heading">
                                    <h4><strong>Job Search Assistance Until You Succeed</strong></h4>
                                </div>
                                <div class="ra_gif">
                                    <img src="{%static 'assets/images/course_page_images/resume.png'%}" width="25px"
                                        height="25px" style="margin-right:4%"><span class="gif_spans">Resume
                                        Preparation</span>
                                </div>
                                <div class="ra_gif">
                                    <img src="{%static 'assets/images/course_page_images/image (3).png'%}" width="25px"
                                        height="25px" style="margin-right:4%"><span class="gif_spans">LinkedIn Profile
                                        Optimization</span>
                                </div>
                                <div class="ra_gif">
                                    <img src="{%static 'assets/images/course_page_images/image (4).png'%}" width="25px"
                                        height="25px" style="margin-right:4%;"><span class="gif_spans">Skill
                                        Assessment</span>
                                </div>
                                <div class="ra_gif">
                                    <img src="{%static 'assets/images/course_page_images/job.png'%}" width="25px"
                                        height="25px" style="margin-right:4%;"><span class="gif_spans">Job Search
                                        Strategy</span>
                                </div>
                                <div class="ra_gif">
                                    <img src="{%static 'assets/images/course_page_images/mock.png'%}" width="25px"
                                        height="25px" style="margin-right:4%;"><span class="gif_spans">Mock
                                        Interviews</span>
                                </div>
                                <div class="ra_gif">
                                    <img src="{%static 'assets/images/course_page_images/image (5).png'%}" width="25px"
                                        height="25px" style="margin-right:4%;"><span class="gif_spans">Portfolio
                                        Development</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="ra_Hiring">
                <h2>Hiring Partners</h2>
            </div>
            <div class="ra_body">
                <div class="slider">
                    <div class="slider-track">
                        {% for partner in hiring_partners %}
                        <div class="slider-item">
                            <img src="{{ partner.logo.url }}" alt="{{ partner.name }}" width="100%">
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-8">
                        <div class="ai_main_col2">
                            <div class="row">
                                <div class="ra_coursereq">
                                    <div class="ra_courselist">
                                        <div class="ra_requirement">
                                            <h2>Course Requirement</h2>
                                        </div>
                                        <ul>
                                            {% for requirement in requirements %}
                                            <li class="{% if forloop.counter > 2 %}hidden{% endif %}">
                                                {{requirement.requirement }}</li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                    <div class="ra_button-2">
                                        <button id="course_req_button">See more<i class="fa-solid fa-angle-down"
                                                style="margin-left:8px"></i></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="ai_main_col3">
                                <div class="ra_qa">
                                    <h2>FAQ'S</h2>
                                </div>
                                <div class="ra_faq">
                                    <div class="accordion" id="accordionPanelsStayOpenExample">
                                        {% for faq in faqs %}
                                        <div class="accordion-item {% if forloop.counter > 4 %}hidden{% endif %}">
                                            <h2 class="accordion-header" id="headingFAQ{{ forloop.counter }}">
                                                <button class="accordion-button collapsed" type="button"
                                                    data-bs-toggle="collapse"
                                                    data-bs-target="#panelsStayOpen-collapseFAQ{{ forloop.counter }}"
                                                    aria-expanded="false"
                                                    aria-controls="panelsStayOpen-collapseFAQ{{ forloop.counter }}">
                                                    {{ forloop.counter }}. {{ faq.faq_heading }}
                                                </button>
                                            </h2>
                                            <div id="panelsStayOpen-collapseFAQ{{ forloop.counter }}"
                                                class="accordion-collapse collapse"
                                                aria-labelledby="headingFAQ{{ forloop.counter }}"
                                                data-bs-parent="#accordionPanelsStayOpenExample">
                                                <div class="accordion-body">
                                                    <ul>
                                                        <li style="line-height:2em">{{ faq.faq_description }}</li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        {% endfor %}
                                        <div class="ra_f_button">
                                            <button id="faqs_button">See more<i class="fa-solid fa-angle-down"
                                                    style="margin-left:8px"></i></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="col-md-4">
                        <div class="ra_earning-potential">
                            <div class="ra_earnheading">
                                <h2>Earning Potential</h2>
                            </div>

                            <ul>
                                <div class="ra_minspan">
                                    <div class="ra_pack">6 LPA</div>
                                    <div class="progress" role="progressbar" aria-valuenow="25" aria-valuemin="0"
                                        aria-valuemax="100" style="height:8%">
                                        <div class="progress-bar " style="width: 25% ; background:  #e7075e">
                                        </div>
                                    </div>
                                    <p class="ra_minimum">min</p>
                                </div>
                                <div class="ra_avgspan">
                                    <div class="ra_pack">12 LPA</div>
                                    <div class="progress" role="progressbar" aria-label="Warning example"
                                        aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="height: 8%">
                                        <div class="progress-bar" style="width: 75% ; background:#e7075e ">
                                        </div>
                                    </div>
                                    <p class="ra_average">avg</p>
                                </div>
                                <div class="ra_maxspan">
                                    <div class="ra_pack">20 LPA</div>
                                    <div class="progress" role="progressbar" aria-label="Danger example"
                                        aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="height:8%">
                                        <div class="progress-bar " style="width: 100% ; background: #e7075e">
                                        </div>
                                    </div>

                                    <p class="ra_maximum">max</p>
                                </div>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="ra_Ai_tools">
                <h2>{{course_page.title}} Tools Covered</h2>
            </div>
            <div class="ra_body1">
                <div class="slider1">
                    <div class="slider-track1">
                        {% for tool in tools %}
                        <div class="slider-item1">
                            <img src="{{ tool.image.url }}" class="ra_tool1" height="75%" width="75%">
                            <p class="ra_toolspara">{{ tool.tool_name }}</p>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="col-md-8">
            <div class="demo_para">
                <p>{{ demo_request.paragraph_text }}</p>
                <a href="{{ demo_request.button_url }}" class="ra_request">{{ demo_request.button_text}}</a>
            </div>
        </div>
    </div>
    </div>
    <div class="container-fluid">
        <div class="ra_certifications">
            <div class="row">
                <div class="col-md-7">
                    <div class="ra_cert_para">
                        <h2 class=" ra_course_cert">Course Certificate</h2>
                        <p>{{ certificate.description }}</p>
                    </div>
                </div>
                <div class="col-md-5">
                    {% if certificate.image %}
                    <img class="ra_cert-img" src="{{ certificate.image.url }}" height="400px" width="550px">
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <div class="ra_review_setting">
        <h2>Course Reviews</h2>
    </div>
    <div class="container-fluid all_reviews">
        <div class="row">
            {% for review in reviews %}
            <div class="col">
                <div class="ra_reviews">
                    <div class="ra_coursereview">
                        <div class="ra_review ra_review{{ forloop.counter }}">
                            <div class="ra_review_img ra_review_img{{ forloop.counter }}">
                                <img src="{% static 'assets/images/course_page_images/pic.png' %}" width="63px"
                                    height="63px" style="margin:-20px; border-radius: 5px;">
                                <div class="ra_name ra_rname{{ forloop.counter }}">{{ review.reviewer_name }}
                                </div>
                            </div>
                            <p class="ra_para ra_para{{ forloop.counter }}">{{ review.review_text }}</p>
                            <div class="starchecked">
                                {% for i in "1" %}
                                <span
                                    class="fa fa-star {% if forloop.counter <= review.star_rating %}checked{% endif %}"></span>
                                {% endfor %}
                                <span>{{ review.star_rating }} Star Ratings</span>
                                <span class="ra_r_date">12 Apr 2024</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    <div class="ra_cardshead">
        <h2>Recommended Courses</h2>
    </div>
    <div class="container-fluid">
        <div class="review">
            {% for mention in mentions %}
            <div class="uma">
                <div class="ra_AI_container">
                    <img src="{{ mention.image.url }}" class="ra_ai-img">
                    <div class="ra_line_img">
                        <img class="ra_dotted_bar" src="{%static 'assets/images/course_page_images/card1.png'%}"
                            height="53px">
                        <div class="ra_card_1">
                            <p class="ra_cards_para">{{ mention.point1 }}</p>
                            <p class="ra_cards_para">{{ mention.point2 }}</p>
                        </div>
                    </div>
                    <div class="ra_heading">
                        <h5><strong>{{ mention.course_title }}</strong></h>
                    </div>
                    <div class="ra_some_container">
                        <div class="ra_people_img">
                            <img src="{%static 'assets/images/course_page_images/card2.png'%}" width="25px"
                                height="25px">
                            <p class="ra_people_text">1.7K+</p>
                        </div>
                        <div class="ra_star_img">
                            <img src="{%static 'assets/images/course_page_images/Star 14.png'%}" width="20px"
                                height="20px">
                            <p class="ra_star_text">5.0</p>
                        </div>
                        <button class="ra_cont_button">Enroll</button>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    </div>
    </div>

    <script>
        function showModal() {
            event.preventDefault();
            document.getElementById('displayModal').style.display = 'block';
        }

        function closeModal() {
            document.getElementById('displayModal').style.display = 'none';
        }


        const course_info_button = document.getElementById('see-more-btn');
        const hiddenItems = document.querySelectorAll('#course-outcomes li.hidden');
        let expanded = false;

        course_info_button.addEventListener('click', function () {
            if (!expanded) {
                hiddenItems.forEach(item => item.classList.remove('hidden'));
                course_info_button.innerHTML = 'See Less<i class="fa-solid fa-angle-up"></i>';
            } else {
                hiddenItems.forEach(item => item.classList.add('hidden'));
                course_info_button.innerHTML = 'See More<i class="fa-solid fa-angle-down"></i>';
            }
            expanded = !expanded;
        });

        const accordionButton = document.getElementById('accordion-btn');
        const hiddenAccordions = document.querySelectorAll('.accordion-item.hidden');
        let accordionsExpanded = false;

        accordionButton.addEventListener('click', function () {
            if (!accordionsExpanded) {
                hiddenAccordions.forEach(item => item.classList.remove('hidden'));
                accordionButton.innerHTML = 'See Less<i class="fa-solid fa-angle-up"></i>';
            } else {
                hiddenAccordions.forEach(item => item.classList.add('hidden'));
                accordionButton.innerHTML = 'See More<i class="fa-solid fa-angle-down"></i>';
            }
            accordionsExpanded = !accordionsExpanded;
        });

        const course_req_button = document.getElementById('course_req_button');
        const hidden_course_req_button = document.querySelectorAll('.ra_courselist li.hidden');
        let course_req_expanded = false;

        course_req_button.addEventListener('click', function () {
            if (!course_req_expanded) {
                hidden_course_req_button.forEach(item => item.classList.remove('hidden'));
                course_req_button.innerHTML = 'See Less<i class="fa-solid fa-angle-up"></i>';
            } else {
                hidden_course_req_button.forEach(item => item.classList.add('hidden'));
                course_req_button.innerHTML = 'See More<i class="fa-solid fa-angle-down"></i>';
            }
            course_req_expanded = !course_req_expanded;
        });

        const faq_button = document.getElementById('faqs_button');
        const hidden_faq_button = document.querySelectorAll('.accordion-item.hidden');
        let faq_expanded = false;

        faq_button.addEventListener('click', function () {
            if (!faq_expanded) {
                hidden_faq_button.forEach(item => item.classList.remove('hidden'));
                faq_button.innerHTML = 'See Less<i class="fa-solid fa-angle-up"></i>';
            } else {
                hidden_faq_button.forEach(item => item.classList.add('hidden'));
                faq_button.innerHTML = 'See More<i class="fa-solid fa-angle-down"></i>';
            }
            faq_expanded = !faq_expanded;
        });


        const track = document.querySelector('.slider-track');
        const items = document.querySelectorAll('.slider-item');
        const itemWidth = items[0].offsetWidth; // Width of each image
        const itemMargin = parseInt(getComputedStyle(items[0]).marginRight); // Margin between images
        const moveDistance = itemWidth + itemMargin; // Distance to move per image
        const totalItems = items.length; // Total number of images
        const trackWidth = moveDistance * totalItems; // Total width of the track
        let currentPosition = 0;
        let cloneCount = 0;

        // Clone the images to make the track seamless
        function cloneItems() {
            const itemsToClone = Array.from(items).map(item => item.cloneNode(true));
            itemsToClone.forEach(item => track.appendChild(item));
            cloneCount = itemsToClone.length;
        }

        // Initialize cloning of images
        cloneItems();

        // Adjust the width of the track to account for the cloned items
        track.style.width = `${trackWidth * 2}px`;

        function moveSlider() {
            currentPosition -= moveDistance; // Move the slider to the left

            // If the entire first set of images has scrolled out of view
            if (Math.abs(currentPosition) >= trackWidth) {
                currentPosition = 0; // Reset position
                track.style.transition = 'none'; // Disable transition for instant reset
                track.style.transform = `translateX(${currentPosition}px)`; // Reset position

                // Continue movement after a frame to avoid visible jump
                requestAnimationFrame(() => {
                    requestAnimationFrame(() => {
                        track.style.transition = 'transform 1s linear'; // Re-enable transition
                        moveSlider(); // Continue the movement
                    });
                });
            } else {
                // Move the slider with continuous scrolling
                track.style.transform = `translateX(${currentPosition}px)`;
                requestAnimationFrame(() => {
                    setTimeout(moveSlider, 2000); // Adjust delay as needed for smoother scrolling
                });
            }
        }

        // Start the movement after page load
        moveSlider();


        const track1 = document.querySelector('.slider-track1');
        const items1 = document.querySelectorAll('.slider-item1');
        const itemWidth1 = items1[0].offsetWidth; // Width of each image
        const itemMargin1 = parseInt(getComputedStyle(items1[0]).marginRight); // Margin between images
        const moveDistance1 = itemWidth1 + itemMargin1; // Distance to move per image
        const totalItems1 = items1.length; // Total number of images
        const trackWidth1 = moveDistance1 * totalItems1; // Total width of the track
        let currentPosition1 = 0;
        let cloneCount1 = 0;

        // Clone the images to make the track seamless
        function cloneItems1() {
            const itemsToClone1 = Array.from(items1).map(item1 => item1.cloneNode(true));
            itemsToClone1.forEach(item1 => track1.appendChild(item1));
            cloneCount1 = itemsToClone1.length;
        }

        // Initialize cloning of images
        cloneItems1();

        // Adjust the width of the track to account for the cloned items
        track1.style.width = `${trackWidth1 * 2}px`;

        function moveSlider1() {
            currentPosition1 -= moveDistance1; // Move the slider to the left

            // If the entire first set of images has scrolled out of view
            if (Math.abs(currentPosition1) >= trackWidth1) {
                currentPosition1 = 0; // Reset position
                track1.style.transition = 'none'; // Disable transition for instant reset
                track1.style.transform = `translateX(${currentPosition1}px)`; // Reset position

                // Continue movement after a frame to avoid visible jump
                requestAnimationFrame(() => {
                    requestAnimationFrame(() => {
                        track1.style.transition = 'transform 1s linear'; // Re-enable transition
                        moveSlider1(); // Continue the movement
                    });
                });
            } else {
                // Move the slider with continuous scrolling
                track1.style.transform = `translateX(${currentPosition1}px)`;
                requestAnimationFrame(() => {
                    setTimeout(moveSlider1, 2000); // Adjust delay as needed for smoother scrolling
                });
            }
        }

        // Start the movement after page load
        moveSlider1();


        function animateProgress() {
            const minProgress = document.getElementById('min-progress');
            const avgProgress = document.getElementById('avg-progress');
            const maxProgress = document.getElementById('max-progress');

            // Use setTimeout to ensure the animation occurs after the page has fully loaded
            setTimeout(() => {
                minProgress.style.width = '25%';
                avgProgress.style.width = '75%';
                maxProgress.style.width = '100%';
            }, 100); // Delay to ensure the browser has rendered the initial 0% state
        }

        // Call the function to start the animation when the page loads
        window.addEventListener('DOMContentLoaded', animateProgress);

        document.addEventListener('DOMContentLoaded', function () {
            var accordionButtons = document.querySelectorAll('.accordion-button');

            accordionButtons.forEach(function (button) {
                button.addEventListener('click', function () {
                    var expanded = button.getAttribute('aria-expanded') === 'true';
                    button.setAttribute('aria-expanded', !expanded);
                    button.classList.toggle('collapsed');
                });
            });
        });



    </script>
</body>
{% endblock %}

</html>