<!DOCTYPE html>
<html>

<head>
    <title>data works</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/new.css' %}">
</head>

<body>

    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">
                <img class="img" src="{% static 'assets/images/dataworks_pro_logo.jpeg' %}" height="46" width="235">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText"
                aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarText">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Courses
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            {% for category in categories %}
                            <li>
                                <a class="dropdown-item" href="#">{{ category.name }}</a>
                                <ul class="dropdown-menu">
                                    {% for course_type in course_types %}
                                    <li>
                                        <a class="dropdown-item" href="{% url 'foundations_test' course_type.id %}">{{ course_type.name }}</a>
                                        <ul class="dropdown-menu">
                                            {% for course in courses %}
                                            {% if course.category_id == course_type.id %}
                                            <li><a class="dropdown-item" href="{% url 'course_detail' course.id %}">{{ course.title }}</a></li>
                                            {% endif %}
                                            {% empty %}
                                            <li><a class="dropdown-item">No courses available for this course type.</a></li>
                                            {% endfor %}
                                        </ul>
                                    </li>
                                    {% empty %}
                                    <li><a class="dropdown-item">No course types available for this category.</a></li>
                                    {% endfor %}
                                </ul>
                            </li>
                            {% empty %}
                            <li><a class="dropdown-item">No categories available.</a></li>
                            {% endfor %}
                        </ul>
                    </li>
                    <!-- Other nav items -->
                </ul>
                <span class="navbar-text">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#">Enterprise</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Resources</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Contact Us</a>
                        </li>
                    </ul>
                </span>
            </div>
        </div>
    </nav>

    <div class="container">
        <div class="row">
            <div class="col">
                <div class="home_Designed">
                    <p>Designed to transform<br>
                        you into a highly skilled<br>
                        Software Professional<br></p>
                </div>
                <button type="button" class="Started_button"><a href="#">Get Started</a></button>
                <div class="home_Designed1">
                    <p>
                        Recognized as the Best Brand in<br>
                        Technology UpSkilling
                    </p>
                </div>

            </div>
            <div class="col banner_image">
                <div class="home_Designed2"></div>
                <div class="home_Designed3">
                    <img src="{% static 'assets/images/data_works_img.png' %}" height="500" />
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <div class="home_PLATFORMS">
                    <p>OUR PARTNERS IN HIRING / PLATFORMS</p>
                </div>
            </div>
        </div>
    </div>

    <script src="{% static 'bootstrap/js/jquery.min.js' %}"></script>
    <script src="{% static 'bootstrap/js/popper.min.js' %}"></script>
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
</body>

</html>