<!DOCTYPE html>
<html>

<head>
    {% load static %}
    <title>AI Fundamentals dataworks</title>
    <link rel="stylesheet" href="{% static 'assets/css/testing.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
        integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</head>


<body class="ra_course_details_page">
    <div class="ra_entirepage">
        <div class="ra_Ai_page">
            <div class="ra_home">
                <span class="ra_span1">Home </span><span class="ra_span2"><img
                        src="{% static 'assets/images/course_page_images/right.png' %}" height="8px" width="-500px"
                        style="color:gray"></span><span class="ra_span3"> Courses</span><span class="ra_span4"><img
                        src="{% static 'assets/images/course_page_images/right.png' %}" height="8px" width="-500px"
                        style="color:gray"></span><span class="ra_span5">Foundations</span>
                <img src="{% static 'assets/images/course_page_images/right.png' %}" height="8px" width="-500px"
                    style="color:gray"></span><span class="span6"> AI Fundamentals</span>
            </div>
            <div class="ra_Ai_main">
                <div class="ra_heading-line"></div>
                <div class="ra_Ai_heading">
                    <h2>AI Fundamentals</h2>
                </div>
                <div class="ra_Ai_para">
                    <p>The AI and Machine Learning Fundamentals course offered by DataWorks is designed to demystify the
                        complex world of artificial intelligence (AI) and machine learning (ML), providing learners with
                        a
                        clear understanding of the key concepts, algorithms, and applications. This course covers the
                        basics
                        of AI and ML, including how machines learn from data, the difference between supervised,
                        unsupervised, and reinforcement learning, and the practical applications of AI/ML in various
                        industries. Through engaging lectures, hands-on projects, and real-world case studies,
                        participants
                        will gain the skills to apply basic AI and ML techniques to solve problems and enhance
                        decision-making processes. This course is an essential foundation for anyone interested in
                        pursuing
                        advanced studies or careers in AI and machine learning. </p>
                    <div class="ra_Ai_img">
                        <img src="{% static 'assets/images/course_page_images/image.png' %}" height="242" width="400"
                            style="border-radius:5px">
                    </div>
                </div>
                <div class="ra_buttonstar">
                    <div class="ra_stars">
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="starpara">(110)</span>
                    </div>
                    <button class="ra_Ai_button">Download Brochure</button>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row" style="display: flex;">
                <div class="col-md-8">
                    <div class="ra_Ai_subh">
                        <h3>Course info</h3>
                    </div>
                    <div class="ra_course_info">
                        <div class="ra_course_para">
                            <h4>What i will learn?</h4>
                        </div>

                        <div class="ra_courseul">
                            <ul class="text">
                                <li>Understand the core components of computer hardware and software.</li>
                                <li>Grasp the fundamentals of networking and the internet, including the OSI model
                                    and IP addressing.</li>
                                <li>Learn about the basics of cybersecurity, including threats, vulnerabilities, and
                                    protective measures.</li>
                                <li> Gain insights into operating systems, their functionalities, and management</li>
                                <span class="moreText">
                                    <li>Insight into the ethical and societal implications of AI technologies.</li>
                                    <li>How AI and ML are being applied across different sectors to solve real-world
                                        problems.
                                    </li>
                                </span>
                            </ul>
                            <div class="read-more-btn">
                                <button>See More<i class="fa-solid fa-angle-down"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="ra_form_head">
                        <p>Upskill for Your Dream Job</p>
                    </div>
                    <div class="ra_form-container">
                        <form action="#" method="post">
                            <input type="text" placeholder="Full Name" id="full-name" name="full-name" required><br>
                            <input type="tel" placeholder="Mobile Number" id="mobile-number" name="mobile-number"
                                required><br>
                            <input type="email" placeholder="Email Address" id="email" name="email" required><br>
                            <input type="message" placeholder="Your Message" name="message" rows="4"
                                required></textarea><br>
                            <button type="submit" class="ra_enroll-button">Enroll Now</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="container" style="background-color:  #eff2fb; margin-top: 5%;">
            <div class="row">
                <div class="ra_course_content">
                    <h2>Course Content</h2>
                </div>
                <div class="col-md-8">
                    <div>
                        <div class="accordion" id="accordionExample">
                            <div class="accordion-item">
                                <h2 class="accordion-header">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                        1. Computer Basics
                                    </button>
                                </h2>
                                <div id="collapseOne" class="accordion-collapse collapse show"
                                    data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        <ul>
                                            <li>Introduction to Computers: Definition, evolution.</li>
                                            <li>Computer Peripherals: Types, usage.</li>
                                            <li>Input/Output Devices: Variety and application.</li>
                                            <li>Cabinet Panels: Understanding back and front panels.</li>
                                            <li>CPU Components: Core components, functionality.</li>
                                            <li>Motherboards, Processors, and Memories: Types, selection criteria.</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h2 class="accordion-header">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                        2.Networking
                                    </button>
                                </h2>
                                <div id="collapseTwo" class="accordion-collapse collapse"
                                    data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        <ul>
                                            <li>Data Cleaning Techniques: Handling missing data, noise, and outliers.
                                            </li>
                                            <li>Data Visualization: Using tools like Matplotlib and Seaborn for
                                                insights. </li>
                                            <li>Feature Engineering: Techniques for extracting and selecting features.
                                            </li>

                                        </ul>

                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h2 class="accordion-header">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#collapseThree" aria-expanded="false"
                                        aria-controls="collapseThree">
                                        3.Cloud Computing Basics
                                    </button>
                                </h2>
                                <div id="collapseThree" class="accordion-collapse collapse"
                                    data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        <ul>
                                            <li>Regression Techniques: Linear and logistic regression. </li>
                                            <li>Classification Methods: Decision trees, Support Vector Machines (SVMs).
                                            </li>
                                            <li>Model Evaluation: Accuracy, precision, recall, and other metrics. </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="ra_button-1">
                                <button>See more<i class="fa-solid fa-angle-down"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="ra_img-gif">
                        <div class="ra_gif1">
                            <img src="{% static 'assets/images/course_page_images/10747050_4546193 1 (1).png' %}"
                                width="80px" height="70px" style="margin-left: 100px; margin-top:10px;">
                        </div>
                        <div class="ra_gif_heading">
                            <h5>Job Search Assistance Until You Succeed</h5>
                        </div>
                        <div class="ra_gif">
                            <img src="{% static 'assets/images/course_page_images/image (2).png' %}" width="25px"
                                height="25px" style="margin-right:4%"><span class="gif_spans">Resume Preparation</span>
                        </div>
                        <div class="ra_gif">
                            <img src="{% static 'assets/images/course_page_images/image (3).png' %}" width="25px"
                                height="25px" style="margin-right:4%"><span class="gif_spans">LinkedIn Profile
                                Optimization</span>
                        </div>
                        <div class="ra_gif">
                            <img src="{% static 'assets/images/course_page_images/image (4).png' %}" width="25px"
                                height="25px" style="margin-right:4%;"><span class="gif_spans">Skill Assessment</span>
                        </div>
                        <div class="ra_gif">
                            <img src="{% static 'assets/images/course_page_images/strategy_6920737.png' %}" width="25px"
                                height="25px" style="margin-right:4%;"><span class="gif_spans">Job Search
                                Strategy</span>
                        </div>
                        <div class="ra_gif">
                            <img src="{% static 'assets/images/course_page_images/communcation_16941703.png' %}"
                                width="25px" height="25px" style="margin-right:4%;"><span class="gif_spans">Mock
                                Interviews</span>
                        </div>
                        <div class="ra_gif">
                            <img src="{% static 'assets/images/course_page_images/image (5).png' %}" width="25px"
                                height="25px" style="margin-right:4%;"><span class="gif_spans">Portfolio
                                Development</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="ra_scrollbar" style="margin-top: 2%;">
            <div class="ra_Hiring">
                <h2>Hiring Partners</h2>
            </div>
            <div class="ra_scroll">
                <img src="{% static 'assets/images/course_page_images/Vector (1).png' %}" height="30px" width="78.12px">
                <div class="ra_vertical_bar"></div>
                <img src="{% static 'assets/images/course_page_images/google.png' %}" height="30px" width="78.2px">
                <div class="ra_vertical_bar"></div>
                <img src="{% static 'assets/images/course_page_images/Group 21.png' %}" height="30px" width="140.2px">
                <div class="ra_vertical_bar"></div>
                <img src="{% static 'assets/images/course_page_images/ibm.png' %}" height="30px" width="75.19px">
                <div class="ra_vertical_bar"></div>
                <img src="{% static 'assets/images/course_page_images/Vector.png' %}" height="50px" width="62.57px">
            </div>
        </div>
        <div class="container" style="margin-top: 5%;">
            <div class="row">
                <div class="col-md-8">
                    <div class="row">
                        <div class="ra_coursereq">
                            <div class="ra_courselist">
                                <div class="ra_requirement">
                                    <h4>Course Requirement</h4>
                                </div>
                                <ul>
                                    <li>No prior IT experience or knowledge is required.</li>
                                    <li>A keen interest in technology and willingness to learn.</li>
                                    <li>Basic understanding of mathematics and logic is helpful but not mandatory.</li>
                                    <li>Access to a computer and the internet for course exercises and online learning.
                                    </li>
                                </ul>
                                <button class="ra_button">See more <i class="fa-solid fa-angle-down"></i></button>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="ra_qa">
                            <h4>FAQ'S</h4>
                        </div>
                        <div class="ra_faq">
                            <div class="accordion" id="accordionPanelsStayOpenExample">
                                <div class="ra_accordion-item">
                                    <h2 class="accordion-header1">
                                        <button class="accordion-button collapsed" type="button"
                                            data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne"
                                            aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
                                            1.Do I need my own computer for this course?
                                        </button>
                                    </h2>
                                    <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show">
                                        <div class="accordion-body">
                                            <ul>
                                                <li>
                                                    Yes, having access to a computer will be essential for completing
                                                    the
                                                    hands-
                                                    on
                                                    exercises and accessing course materials.
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="ra_accordion-item">
                                    <h2 class="accordion-header2">
                                        <button class="accordion-button collapsed" type="button"
                                            data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo"
                                            aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
                                            2.There a certification upon completing this course?
                                        </button>
                                    </h2>
                                    <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse">
                                        <div class="accordion-body">
                                            <ul>
                                                <li>
                                                    Participants will primarily use Python and its libraries for machine
                                                    learning, such
                                                    as
                                                    scikit-learn, Pandas, and TensorFlow. All required software is open
                                                    source
                                                    and free
                                                    to
                                                    download.
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="ra_accordion-item">
                                    <h2 class="accordion-header3">
                                        <button class="accordion-button collapsed" type="button"
                                            data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree"
                                            aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
                                            3.Duration of this course?
                                        </button>
                                    </h2>
                                    <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse">
                                        <div class="accordion-body">
                                            <ul>
                                                <li>
                                                    Yes, participants who successfully complete the course will receive
                                                    a
                                                    certificate in
                                                    AI
                                                    and
                                                    Machine Learning Fundamentals from DataWorks.
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="ra_accordion-item">
                                    <h2 class="accordion-header4">
                                        <button class="accordion-button collapsed" type="button"
                                            data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne"
                                            aria-expanded="false" aria-controls="panelsStayOpen-collapseOne">
                                            4.Course Prerequisites?
                                        </button>
                                    </h2>
                                    <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse">
                                        <div class="accordion-body">
                                            <ul>
                                                <li>
                                                    While a basic understanding of mathematics (especially algebra and
                                                    statistics) is
                                                    helpful,
                                                    the course is designed to make AI and ML accessible to individuals
                                                    with
                                                    varying
                                                    levels
                                                    of
                                                    math proficiency.
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="ra_accordion-item">
                                    <h2 class="accordion-header5">
                                        <button class="accordion-button collapsed" type="button"
                                            data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne"
                                            aria-expanded="false" aria-controls="panelsStayOpen-collapseOne">
                                            5.Support and Outcomes?
                                        </button>
                                    </h2>
                                    <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse">
                                        <div class="accordion-body">
                                            <ul>
                                                <li>
                                                    While a basic understanding of mathematics (especially algebra and
                                                    statistics) is
                                                    helpful,
                                                    the course is designed to make AI and ML accessible to individuals
                                                    with
                                                    varying
                                                    levels
                                                    of
                                                    math proficiency.
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="ra_f_button">
                                    <button>See More<i class="fa-solid fa-angle-down"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="ra_earning-potential">
                        <div class="ra_earnheading">
                            <h2>Earning Potential</h2>
                        </div>

                        <ul>
                            <div class="ra_minspan">
                                <div class="ra_pack">6 LPA</div>
                                <div class="progress" role="progressbar" aria-valuenow="25" aria-valuemin="0"
                                    aria-valuemax="100" style="height:8%">
                                    <div class="progress-bar " style="width: 25% ; background:  #e7075e"></div>
                                </div>
                                <p class="ra_minimum">min</p>
                            </div>
                            <div class="ra_avgspan">
                                <div class="ra_pack">12 LPA</div>
                                <div class="progress" role="progressbar" aria-label="Warning example" aria-valuenow="75"
                                    aria-valuemin="0" aria-valuemax="100" style="height: 8%">
                                    <div class="progress-bar" style="width: 75% ; background:#e7075e "></div>
                                </div>
                                <p class="ra_average">avg</p>
                            </div>
                            <div class="ra_maxspan">
                                <div class="ra_pack">20 LPA</div>
                                <div class="progress" role="progressbar" aria-label="Danger example" aria-valuenow="100"
                                    aria-valuemin="0" aria-valuemax="100" style="height:8%">
                                    <div class="progress-bar " style="width: 100% ; background: #e7075e"></div>
                                </div>
                                <p class="ra_maximum">max</p>
                            </div>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="ra_tools">
            <div class="ra_Ai_tools">
                <h2>AI Fundamental Tools Covered</h2>
            </div>
            <div class="ra_scroll1">
                <div class="ra_tool1">
                    <img src="{% static 'assets/images/course_page_images/tensorflow.png' %}" height="150px"
                        width="150px">
                    <p class="ra_toolspara">TensorFlow</p>
                </div>
                <div class="ra_tool2">
                    <img src="{% static 'assets/images/course_page_images/pytorch.png' %}" height="150px" width="150px">
                    <p class="ra_toolspara">PyTorch</p>
                </div>
                <div class="ra_tool3">
                    <img src="{% static 'assets/images/course_page_images/keras.png' %}" height="150px" width="150px">
                    <p class="ra_toolspara">Keras</p>
                </div>
                <div class="ra_tool4">
                    <img src="{% static 'assets/images/course_page_images/scikit.png' %}" height="150px" width="150px">
                    <p class="ra_toolspara">Scikit-learn</p>
                </div>
                <div class="ra_tool5">
                    <img src="{% static 'assets/images/course_page_images/opencv.png' %}" height="150px" width="150px">
                    <p class="ra_toolspara">OpenCv</p>
                </div>
                <div class="ra_tool6">
                    <img src="{% static 'assets/images/course_page_images/genism.png' %}" height="150px" width="150px">
                    <p class="ra_toolspara">Genism</p>
                </div>
            </div>
        </div>
        <div class="ra_demo">
            <div class="">Let's explore further the implications of transitioning to online training</div>
            <div><input type="button" class="ra_request" name="request" value="Request a Demo"></div>
        </div>
        <div>
            <h2 class=" ra_course_cert">Course Certificate</h2>
            <div class="ra_course_completion">
                <div class="ra_cert_para">
                    <p>The Cyber Security Practitioner Programming Course Certificate focuses on enhancing
                        coding skills for securing applications and systems. The curriculum covers topics like
                        secure
                        coding
                        practices, ethical hacking, and defensive programming. It’s ideal for developers and
                        security
                        professionals aiming to bolster their cybersecurity expertise.</p>
                </div>
                <img class="ra_cert-img" src="{% static 'assets/images/course_page_images/course certificate.jpg' %}"
                    height="332px" width="472px">
            </div>
        </div>
        <div class="ra_review">
            <h2>Course Reviews</h2>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <div class="ra_reviews">
                        <div class="ra_coursereview">
                            <div class="ra_review1">
                                <div class="ra_review_img1">
                                    <img src="{% static 'assets/images/course_page_images/Group 27.png' %}" width="63px"
                                        height="63px" style="margin:-20px">
                                    <div class="ra_rname1">K.Nikitha</div>
                                </div>
                                <p class="ra_para1">Nice choose this tool,i like it of the are you finally year
                                    to...
                                </p>
                                <div class="starchecked">
                                    <span class="fa fa-star checked"></span>
                                    <span>5 Star Ratings</span>
                                    <span class="ra_r_date">12 Apr 2024</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="ra_coursereview">
                        <div class="ra_review1">
                            <div class="ra_review_img1">
                                <img src="{% static 'assets/images/course_page_images/Group 27.png' %}" width="63px"
                                    height="63px" style="margin:-20px">
                                <div class="ra_rname1">K.Nikitha</div>
                            </div>
                            <p class="ra_para1">Nice choose this tool,i like it of the are you finally year to...
                            </p>
                            <div class="starchecked">
                                <span class="fa fa-star checked"></span>
                                <span>5 Star Ratings</span>
                                <span class="ra_r_date">12 Apr 2024</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="ra_coursereview">
                        <div class="ra_review1">
                            <div class="ra_review_img1">
                                <img src="{% static 'assets/images/course_page_images/Group 27.png' %}" width="63px"
                                    height="63px" style="margin:-20px">
                                <div class="ra_rname1">K.Nikitha</div>
                            </div>
                            <p class="ra_para1">Nice choose this tool,i like it of the are you finally year to...
                            </p>
                            <div class="starchecked">
                                <span class="fa fa-star checked"></span>
                                <span>5 Star Ratings</span>
                                <span class="ra_r_date">12 Apr 2024</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="ra_coursereview">
                        <div class="ra_review1">
                            <div class="ra_review_img1">
                                <img src="{% static 'assets/images/course_page_images/Group 27.png' %}" width="63px"
                                    height="63px" style="margin:-20px">
                                <div class="ra_rname1">K.Nikitha</div>
                            </div>
                            <p class="ra_para1">Nice choose this tool,i like it of the are you finally year to...
                            </p>
                            <div class="starchecked">
                                <span class="fa fa-star checked"></span>
                                <span>5 Star Ratings</span>
                                <span class="ra_r_date">12 Apr 2024</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="ra_cardshead">
            <h2>Recommended Courses</h2>
        </div>
        <!-- testing.html -->
        <div class="container">
            <div class="row">
                {% for mention in mentions %}
                <div class="col-md-3">
                    <div class="ra_AI_container">
                        <div class="ra_ai-img">
                            <img src="{{ mention.image.url }}" width="290px" height="126px"
                                style="border-radius:5px; border:5px solid gray;">
                        </div>
                        <div class="ra_line_img">
                            <img class="ra_dotted_bar"
                                src="{% static 'assets/images/course_page_images/Group 78.png' %}" height="53px">
                            <div class="ra_card_1">
                                <p class="ra_cards_para">{{ mention.point1 }}</p>
                                <p class="ra_cards_para1">{{ mention.point2 }}</p>
                            </div>
                        </div>
                        <div class="ra_heading">
                            <h5>{{ mention.course_title }}</h5>
                        </div>
                        <div class="ra_some_container">
                            <div class="ra_img_cont">
                                <div class="ra_people_img">
                                    <img src="{% static 'assets/images/course_page_images/Rectangle 229.png' %}"
                                        width="20px" height="20px">
                                    <p class="ra_people_text">1.7K+</p>
                                </div>
                                <div class="ra_star_img">
                                    <img src="{% static 'assets/images/course_page_images/Star 14.png' %}" width="17px"
                                        height="17px">
                                    <p class="ra_star_text">5.0</p>
                                </div>
                                <button class="ra_cont_button">Enroll</button>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>

</body>

</html>